/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  font-family: monospace, Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  color: inherit;
}
a:hover, button:hover {
  cursor: pointer;
}
input {
  font-size: 16px;
}
input, textarea, button {
  border: none;
  background: none;
}
input:focus, textarea:focus, button:focus {
  outline: none;
}

/* STYLES */
body {
  background-color: #444;
}
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.container {
  width: 95%;
  padding: 1em 0;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#logo {
  position: absolute;
  left: 1em;
  top: 1em;
  height: 3em;
  width: 3em;
  box-sizing: border-box;
  border-radius: 1.5em;
  transition: all 100ms;
}
#logo:hover {
  cursor: pointer;
  transform: scale(1.03);
}
#settings-button {
  position: absolute;
  right: 1em;
  top: 1em;
  height: 3em;
  width: 3em;
  box-sizing: border-box;
  border-radius: 1.5em;
  transition: all 200ms;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#settings-button > svg {
  height: 50%;
  width: 50%;
}
#settings-button:hover {
  transform: rotate(90deg);
}
#settings {
  height: 100%;
  width: 10em;
  position: absolute;
  right: 0;
  transform: translate(100%, 0);
  transition: all 100ms;
  z-index: 1;
  padding: 5em 1em 0 1em;
  box-sizing: border-box;
}
#settings h3 {
  margin-top: 1em;
  font-size: 0.8em;
}
#settings input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  text-align: center;
}
#settings button {
  width: 100%;
  padding: 3px;
}
#settings select {
  width: 100%;
}
#settings-button:hover + #settings, #settings:hover {
  transform: translate(0, 0);
}
#input-container {
  border-radius: 5px;
  width: 100%;
}
#input-container > textarea {
  display: block;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 3px 0;
  padding: 10px 10px;
  font-size: 16px;
  height: 15px;
  max-height: 105px;
}
#content {
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* FRONTPAGE */
#welcome {
  margin-bottom: 1em;
  overflow: hidden;
}
#welcome h1 {
  width: max-content;
  display: block;
  margin: 0 auto;
  font-size: 3em;
}
#discover {
  display: flex;
  flex-grow: 1;
  padding-bottom: 1em;
  flex-direction: column;
  justify-content: flex-start;
}
#discover h3 {
  margin-bottom: 0.2em;
  margin-top: 1em;
  font-size: 1em;
}
#discover .item {
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#discover .item h2 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
#discover p {
  font-size: 0.8em;
  margin-bottom: 0.2em;
}
#tags {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
}
#tags > input {
  flex-grow: 1;
  min-width: 5em;
  padding: 5px;
  margin-bottom: 5px;
}
.tag {
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tag:hover {
  cursor: pointer;
}
#random-button {
  margin: 1em 0;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 100ms;
}
.group {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: -1px;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
}
#create-group-container {
  margin: 0.2em 0;
  display: flex;
}
#create-group-container input {
  flex-grow: 1;
  min-width: 1px;
  padding: 5px;
  box-sizing: border-box;
}
#create-group-container button {
  padding: 5px;
}

/* CHATROOM */
#messages {
  width: 100%;
  flex-grow: 1;
  padding-bottom: 1em;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}
#messages::-webkit-scrollbar {
  width: 0;
}
.message {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.message:nth-child(1)
{
  margin-top: auto;
}
.nick {
  padding-right: 10px;
  font-weight: bold;
}
.nick:hover {
  text-decoration: underline;
  cursor: pointer;
}
.msg {
  flex-grow: 1;
  color: inherit;
  overflow-wrap: break-word;
  min-width: 1%;
}
.time {
  display: none;
  margin-left: 10px;
}

@media (min-width: 850px) {

/* STYLES */
.container {
  width: 700px;
}
#input-container {
  border-radius: 5px;
  width: 100%;
}
#input-container > textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 3px 0;
  padding: 10px 10px;
  font-size: 15px;
  height: 15px;
  max-height: 105px;
}

/* FRONTPAGE */
#discover {
  justify-content: space-between;
  flex-direction: row;
}
#discover .item {
  width: 55%;
  margin-bottom: 0;
}
#discover .item:nth-child(2) {
  width: 43%;
}

/* CHATROOM */
#messages {
  height: 100%;
  width: 100%;
  margin-top: 0;
  display: block;
}
.message {
  font-size: 14px;
  flex-direction: row;
  padding: 5px;
}
.nick {
  padding-right: 10px;
  font-weight: bold;
}
.msg {
  flex-grow: 1;
  color: inherit;
  overflow-wrap: break-word;
  min-width: 1%;
}
.time {
  display: block;
  opacity: 0;
  padding-right: 10px;
}
.message:hover > .time {
  opacity: 0.75;
}

}